body {
  margin: 0;
}

#mapid {  
  z-index: 50;
  flex: 1;
}

.container {
  display: flex;
  height: 100vh;
}

#sidebar {
  box-sizing: border-box;
  box-shadow: 0 0px 15px rgba(0,0,0,0.5);

  /* display: flex; */
  flex-direction: column;
  
  position: fixed;
  z-index: 100;
  top: 3px;
  right: 0px;

  width: 0px;
  height: calc(100vh - 20px);
  padding-top: 15px;

  background-color: white;
  transition: .5s;
}

#sidebar.opened {
  width: 407px;
  padding: 15px 0 0 15px;
}

#sidebar-close {
  font-size: 36px;
  padding: 4px;
  position: absolute;
  cursor: pointer;
  top:20px;
  left: -60px;
}

#sidebar-close ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar-close li {
  width: 28px;
  height: 4px;
  background-color: black;
  margin: 6px;
}

#sidebar-close:hover {
  text-shadow: 0 0 5px #999;
  -webkit-text-shadow: 0 0 5px #999;
  outline: 2px solid rgba(0,0,0,0.1);
}

#place-container {
  width: 392px;
  height: calc(100% - 60px);
  padding: 0;
  margin: 0;
}

.button {
  position: absolute;
  bottom: 10px;
  left: 15px;

  height: 40px;
  width: calc(100% - 30px);

  background-color: #4747e2;
  color: white;
  border: none;
  border-radius: 6px;
}

.button:hover {
  border: 2px solid black;
  opacity: 0.9;
}